<!DOCTYPE html>
<html xmlns = "http://www.w3.org/1999/xhtml" xmlns:th = "http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<meta charset="ISO-8859-1">
<title>Spring WebSocket SSE</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/sockjs-client/sockjs.min.js"></script>
<script src="/webjars/stomp-websocket/stomp.min.js"></script>
<script type="text/javascript">
	var stompClient;
	/* Document Ready Event */
	$(document).ready(function() {
        let currentUser = document.getElementById("current_user").value;
        console.dir(currentUser);
		/* Configuring WebSocket on Client Side */
		var socket = new SockJS('/live-msg');
		stompClient = Stomp.over(socket);
		stompClient.connect({}, function(frame) {
			stompClient.subscribe('/user/'+currentUser+'/msg', function(temperature) {
			    console.dir(temperature);
				$('#msg').append(temperature.body);
			});
		});
	});
</script>
</head>
<body>
    <input type="hidden" th:id="current_user" th:name="current_user" th:value="${#httpServletRequest.remoteUser}" />
	<div class="alert alert-danger" role="alert" style="width:300px;margin-left:40%;margin-top:10px;">
		<p class="text-center">Message From Server: <b id="msg">=></b></p>
	</div>
</body>
</html>
